:root {
    --focus-border: var(--chakra-colors-arctic-400, lightblue) !important;
    --separator-border: var(--chakra-colors-gray-800) !important;
}

* {
    -webkit-user-drag: none;
}

.cm-editor {
    height: 100%;
}

.cm-button {
    align-self: center;
    border-color: var(--chakra-colors-arctic-500) !important;
}

.cm-button:hover {
    border-color: transparent !important;
    background: var(--chakra-colors-arctic-600) !important;
}

.cm-button:active {
    border-color: transparent !important;
    background: var(--chakra-colors-arctic-500) !important;
}

.cm-search {
    background: var(--chakra-colors-gray-800);
}

.cm-search > button[name='close'] {
    font-size: 24px !important;
}

.cm-textfield {
    border-color: var(--chakra-colors-gray-500) !important;
    outline: none !important;
}

.cm-textfield:focus {
    border-color: var(--chakra-colors-arctic-400, lightblue) !important;
}

.cm-search label {
    display: inline-flex;
    gap: 4px;
}

.cm-search label > input {
    margin-bottom: 2px;
}

.cm-button, .cm-search label {
    text-transform: capitalize;
}

.cm-textfield, .cm-button {
    transition: all 0.2s ease-in-out;
    background: var(--chakra-colors-gray-700) !important;
    border-width: 1px !important;
    border-radius: 0.3rem !important;
}

.cm-search label {
    margin-bottom: 4px !important;
    transform: translateY(12.5%);
}

.cm-textfield, .cm-button, .cm-search > label {
    font-size: 11px !important;
    font-weight: 600 !important;
}

.cm-editor .cm-content, .cm-gutter {
    font-family: 'Inconsolata', monospace !important;
    font-weight: 500 !important;
    font-size: 16px;
}
