// TODO: split styles into respective modules

// ALLOTMENT

:root {
  --focus-border: var(--chakra-colors-arctic-400, lightblue) !important;
  --separator-border: var(--chakra-colors-gray-800) !important;
  --chakra-fonts-heading: var(--chakra-fonts-body) !important;
}

html {
  -webkit-user-drag: none;
  scrollbar-color: var(--chakra-colors-arctic-300) transparent;
  scrollbar-width: thin;
}

nextjs-portal {
  display: none;
}

::-webkit-scrollbar {
  width: var(--chakra-sizes-1-5);
  height: var(--chakra-sizes-1-5);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-arctic-300);
  border-radius: var(--chakra-radii-xl);

  &:hover {
    background: var(--chakra-colors-arctic-400);
  }

  &:active {
    background: var(--chakra-colors-arctic-500);
  }
}
